<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subtle Tab</title>
    <!--Social Meta Starts-->
    <meta name="description" content="A new tab chrome and firefox browser plugin that gives rejoicing experience to relieve stress, increases focus and productivity.">
    <meta content="en-US" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="A new tab chrome and firefox browser plugin that gives rejoicing experience to relieve stress, increases focus and productivity." property="og:description" >
    <meta content="https://subtletab.com/static/social_image.jpg" property="og:image">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image:src" content="https://subtletab.com/static/social_image.jpg">
    <meta property="twitter:creator" content="@akanshgulati">
    <meta property="twitter:title" content="Subtle Tab Plugin">
    <meta property="twitter:description" content="A new tab chrome and firefox browser plugin that gives rejoicing experience to relieve stress, increases focus and productivity.">
    <!--Social Meta Ends-->
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ngigalmiikbffkcabedaikboeodibhga">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>

    <div id="app"></div>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
